.password-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .visible-icon-container {
        position: absolute;
        top: 30px;
        right: 14px;

        img {
            width: 20px;
        }
    }
    .input-container .input-comp {
        padding-right: 42px;
    }
}
