.home-wrapper {
  position: relative; // Needed for absolute video positioning
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; // Prevent scrollbars from video overflow
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; // Makes video cover the whole div
  transform: translate(-50%, -50%);
  z-index: 0; // Behind content
}

.home-content {
  position: relative;
  z-index: 1; // Ensure content is on top
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
}

.sub-heading {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.sub-titles {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .main-heading {
    font-size: 28px;
  }

  .home-wrapper {
    min-height: calc(100vh - 88px);
  }
}
