.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.outlet-wrapper {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(100% - 56px);
}